@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    font-family: 'Poppins';
}

body{
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(100vh - 50px);
    background-image: linear-gradient(to left, #fec604, #fec700);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.time-div{
    width: 90%;
    max-width: 250px;
    color: white;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: baseline;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to left, #0ba956, #12a659);
    border: 2px solid black;
}

.time-num{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.time-unit{
    font-family: 'Poppins', sans-serif;
}

button{
    background-image: linear-gradient(to left, #555cf4, #5553fa);
    font-family: 'Inter';
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    border: 2px solid black;
    color: white;
    padding: 9px 25px;
    font-size: 1rem;
    transition: all ease-out 200ms;
}

button:hover {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

button:active,button:disabled {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

button:disabled{
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    opacity: 0.6;
}

/* Achievement */

.achievement , .achievement div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievement{
    transition: all ease-in-out 200ms;
    top: 0;
    z-index: 2;
    position: absolute;
    width: 100%;
}

.achievement div{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.1rem;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    width: fit-content;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid black;
    border-top: none;
    border-radius: 20px;
}

.achievement p{
    max-width: 25ch;
}

.achievement span{
    font-weight: 700;
}

.achievement img{
    border-radius: 10px;
    width: 100px;
}

.hidden{
    top: -100%;
}